div.fluxslider ul.pagination li{
    text-indent: 10000px;
    height: 8px;
    width: 8px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
background: rgba(100, 100, 50, 1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}
div.fluxslider ul.pagination li.current {
    background: rgba(0, 0, 0, 1);
}

div.fluxslider ul.pagination{
    margin-top : 5px !important; 
    height: auto;
    float: right;
}